In [30]:
!pip install yfinance
!pip install matplotlib
!pip install requests
!pip install bs4
!pip install html5lib 
!pip install lxml
!pip install plotly

Requirement already satisfied: yfinance in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (0.2.52)
Requirement already satisfied: pandas>=1.3.0 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from yfinance) (5.2.1)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from yfinance) (2.4.2)
Requirement already satisfied: peewee>=3.16.2 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from yfinance) (3.17.9)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2024.12.14)
Requirement already satisfied: matplotlib in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.23 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: requests in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from requests) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from requests) (2024.12.14)
Requirement already satisfied: bs4 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from bs4) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.5)
Requirement already satisfied: html5lib in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: lxml in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (5.2.1)
Requirement already satisfied: plotly in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (5.24.1)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from plotly) (8.2.3)
Requirement already satisfied: packaging in c:\users\paulg_pxqximm\anaconda3\lib\site-packages (from plotly) (24.1)

In [342]:
import yfinance as yf
import pandas as pd
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [344]:
import requests
from bs4 import BeautifulSoup

In [346]:
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

**Question 1 - Extracting Tesla Stock Data Using yfinance**

In [487]:
tesla = yf.Ticker("TSLA")
tesla_stock = tesla.history(period = "max")

In [488]:
tesla_stock.reset_index(inplace = True)
tesla_stock.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

**Question 2: Use Webscraping to Extract Tesla Revenue Data**

In [492]:
tesla_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
tesla_data_scrap = requests.get(tsla_url).text

In [493]:
soup = BeautifulSoup(tesla_data_scrap, 'html.parser')

In [496]:
tesla_revenue = pd.DataFrame(columns=["Quarterly Date", "Quarterly Revenue(Millions of US $)"])

In [497]:
table_body = soup.find_all('tbody')[1]
for row in table_body.find_all("tr"):
    col = row.find_all("td")
    quart_date = col[0].text
    quart_rev = col[1].text
    
    tesla_revenue = pd.concat([tesla_data2,pd.DataFrame({"Quarterly Date":[quart_date], "Quarterly Revenue(Millions of US $)":[quart_rev]})], ignore_index=True)

In [500]:
tesla_revenue['Quarterly Revenue(Millions of US $)'] = tesla_revenue['Quarterly Revenue(Millions of US $)'].str.replace("$","")
tesla_revenue = tesla_revenue[tesla_revenue['Quarterly Revenue(Millions of US $)'] != ""]
tesla_revenue.tail()

   Quarterly Date Quarterly Revenue(Millions of US $)
49     2010-06-30                                  28
50     2010-03-31                                  21
51     2009-09-30                                  46
52     2009-06-30                                  27
53     2009-06-30                                  27

**Question 3: Use yfinance to Extract Stock Data**

In [503]:
gamestop = yf.Ticker("GME")
gme_stock = gamestop.history(period="max")

In [504]:
gme_stock.reset_index(inplace = True)
gme_stock.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620129,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716073,1.670625,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658001,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578048,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615921,1.662210,1.603296,1.662210,6892800,0.0,0.0

**Question 4: Use Webscraping to Extract GME Revenue Data**

In [508]:
gme_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"
gme_data_scrap = requests.get(gme_url).text

In [509]:
soup = BeautifulSoup(gme_data_scrap, 'html.parser')

In [512]:
gme_revenue = pd.DataFrame(columns=["Date", "Revenue"])

In [513]:
table_body = soup.find_all('tbody')[1]
for row in table_body.find_all("tr"):
    col = row.find_all("td")
    quart_date = col[0].text
    quart_rev = col[1].text
    
    gme_revenue = pd.concat([gme_data2,pd.DataFrame({"Date":[quart_date], "Revenue":[quart_rev]})], ignore_index=True)

In [516]:
gme_revenue["Revenue"] = gme_revenue['Revenue'].str.replace('$',"")
gme_revenue.dropna(inplace=True)

gme_revenue = gme_revenue[gme_revenue['Revenue'] != " "]
gme_revenue.tail()

          Date Revenue
58  2005-10-31     534
59  2005-07-31     416
60  2005-04-30     475
61  2005-01-31     709
62  2005-01-31     709

In [517]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

**

In [524]:
make_graph(tesla_stock, tesla_revenue, 'Tesla')

AttributeError: 'DataFrame' object has no attribute 'Date'